SP_CLUSTER_NAME={{ sp_cluster_name }}
SP_CLUSTER_ID={{ sp_cluster_id }}

SP_EXPECTED_NODES={{ sp_expected_nodes }}

SP_API_HOST={{ sp_api_host }}
SP_API_INTERFACE={{ sp_api_interface }}
SP_AUTH_TOKEN={{ lookup('password', '/dev/null chars=acsii_lowercase,digits length=16') }}

SP_RAUTH_TOKEN={{ sp_rauth_token }}

