SP_CLUSTER_NAME={{ sp_cluster_params[cloudstack_cluster]["cluster_name"] }}
SP_CLUSTER_ID={{ sp_cluster_params[cloudstack_cluster]["cluster_id"] }}

SP_EXPECTED_NODES={{ groups[cloudstack_cluster + '_block_server_mgmt'] | length }}

SP_API_HTTP_HOST={{ sp_cluster_params[cloudstack_cluster]["api_host"] }}
SP_AUTH_TOKEN={{ sp_cluster_params[cloudstack_cluster]["api_token"] }}

SP_RAUTH_TOKEN={{ sp_cluster_params[cloudstack_cluster]["rauth_token"] }}

{% for node_name in (groups[cloudstack_cluster + '_block_server_mgmt'] + groups[cloudstack_cluster + '_block']) %}
{% set node = hostvars[node_name] %}
[{{ node.ansible_hostname }}]
SP_OURID={{ loop.index }}
{% for interface in node.ansible_interfaces %}
{% if 'macaddress' in node.ansible_facts[interface]  %}
{% if 'mgmt' in node.sp_services and node.ansible_facts[interface].macaddress == node.sp_api_interface_mac %}
SP_API_IFACE={{ interface }}
{% elif node.ansible_facts[interface].macaddress == node.sp_interface1_mac %}
SP_IFACE1_CFG=1:{{ node.ansible_facts[interface].device }}:{{ node.ansible_facts[interface].device }}:0:{{ node.ansible_facts[interface].ipv4.address }}:b:x:v
{% elif node.ansible_facts[interface].macaddress == node.sp_interface2_mac %}
SP_IFACE2_CFG=1:{{ node.ansible_facts[interface].device }}:{{ node.ansible_facts[interface].device }}:0:{{ node.ansible_facts[interface].ipv4.address }}:b:x:v
{% endif %}
{% endif %}
{% endfor %}
{% if 'server' not in node.storpool_services %}
SP_NODE_NON_VOTING=1
{% endif %}
{% endfor %}